@import url("https://fonts.googleapis.com/css?family=Inconsolata");

:root {
  --primary-color: #e84545;
  --secondary-color: #903749;
  --bkg-color: #2b2e4a;
  --secondary-bkg-color: #53354a;
  --text-color: #eeeeee;
  --secondary-text-color: #b9b9b9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "inconsolata", sans-serif;
}

html {
  height: 100vh;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100%;
  background-color: var(--bkg-color);
  color: var(--text-color);
}

/* START PAGE */
.start__page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: min-content;
  margin: 1rem auto;

  border-radius: 50px;
  background: linear-gradient(145deg, #272943, #2e314f);
  box-shadow: 41px 41px 82px #25273f, -41px -41px 82px #313555;
}

/* Header */
.start__page--header,
.onclick__page--header {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 4rem;
}

.start__page--header h1 {
  font-size: 3rem;
  font-weight: 700;
}

.start__page--header p {
  font-size: 3rem;
  font-weight: 400;
}

.start__page--header h3 {
  font-size: 1.2rem;
  font-weight: 400;
  margin-top: 1rem;
}

/* Numbers */
.grid-container {
  margin: 2rem 0 0 0;
  padding: 0.5rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
  width: 70%;
  height: min-content;
  border-radius: 20px;
  background: linear-gradient(145deg, #272943, #2e314f);
  box-shadow: 41px 41px 82px #25273f, -41px -41px 82px #313555;
}

.number-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 100px;
  color: var(--text-color);
  font-size: 3.5rem;
  background: none;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  overflow: hidden;
}

/* Selected Numbers */
.selected__numbers {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
  height: 100px;
  margin: 20px auto;
  border: 2px solid var(--primary-color);
  border-radius: 20px;
  color: var(--secondary-text-color);
}

.selected__numbers ul,
.selected__numbers--onclick ul {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  list-style: none;
  gap: 10%;
}

.selected__numbers ul li,
.selected__numbers--onclick ul li {
  font-size: 2.5rem;
  font-weight: 700;
  border-radius: 20px;
}

.selected__numbers h3 {
  line-height: 2.6rem;
}

/* Start */
.start__button {
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 25px;
  border: none;
  box-shadow: 3px 3px 16px #1e2035, -3px -3px 16px rgb(74, 78, 119);
  background: none;
  font-size: 4rem;
  cursor: pointer;
  margin: 2rem auto;
  padding: 1rem;
  color: var(--primary-color);
}

.start__button:hover {
  box-shadow: 5px 5px 16px #1e2035, -5px -5px 16px rgb(74, 78, 119);
}

.start__button:focus {
  border-radius: 20px;
  background: linear-gradient(145deg, #272943, #2e314f);
  box-shadow: inset 5px 5px 16px #25273f, inset -5px -5px 16px #313555;
  color: var(--text-color);
}

/* ONCLICK PAGE */
.onclick__page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 80%;
  height: min-content;
  border-radius: 20px;
  background: linear-gradient(145deg, #272943, #2e314f);
  box-shadow: inset 5px 5px 16px #25273f, inset -5px -5px 16px #313555;
  color: var(--text-color);
  border-radius: 50px;
  margin-top: 2rem;
  position: absolute;
  left: 58%;
}

@keyframes slideLeftOnclickPage {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-60%);
  }
}

@keyframes slideLeftStartPage {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-200%);
  }
}

.start__page--animation {
  animation: slideLeftStartPage 1.5s ease-in-out forwards;
}

.onclick--animation {
  animation: slideLeftOnclickPage 1.5s ease-in-out forwards;
}

.onclick__page--header h1 {
  font-size: 3rem;
  margin: 3rem 0 0 0;
}

.gif {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 500px;
  height: 500px;
}

.circle {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-image: url(./img/source.gif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-size: 3.5rem;
  font-weight: 700;
  overflow: hidden;
}

.selected__numbers--onclick {
  text-align: center;
  width: 70%;
  height: 50px;
  margin: 1rem auto;
  border: 3px solid var(--primary-color);
  border-radius: 20px;
  color: var(--text-color);
  padding: 2.5rem 0;
}

.end {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 3rem;
  margin: 1rem auto;
  border: 3px solid var(--secondary-color);
  border-radius: 20px;
  background: linear-gradient(145deg, #272943, #2e314f);
  box-shadow: 41px 41px 82px #25273f, -41px -41px 82px #313555;
  visibility: hidden;
  padding: 2rem;
}

.restart-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  border: none;
  box-shadow: 3px 3px 16px #1e2035, -3px -3px 16px rgb(74, 78, 119);
  background: none;
  font-size: 3rem;
  cursor: pointer;
  margin: 1rem auto;
  padding: 1rem 2rem;
  color: var(--text-color);
}

.restart-btn:hover {
  box-shadow: 5px 5px 16px #1e2035, -5px -5px 16px rgb(74, 78, 119);
}

.restart-btn:focus {
  border-radius: 20px;
  background: linear-gradient(145deg, #272943, #2e314f);
  box-shadow: inset 5px 5px 16px #25273f, inset -5px -5px 16px #313555;
  color: var(--text-color);
}

/* HIDDEN */
.hidden {
  display: none;
}

/* SELECTED */
.selected {
  background: var(--bkg-color);
  border: 5px solid var(--primary-color);
  border-radius: 20px;
  color: var(--text-color);
}

.lucky__numbers {
  border: 5px solid green;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 70%;
  height: 100px;
  margin: 1rem auto;
  overflow: hidden;
}

.lucky__numbers .lotto-ball {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 50px;
  height: 50px;
  margin: 1rem 0;
  border-radius: 50%;
  background: yellow;
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--primary-color);
  opacity: 0;
  animation: lotto-ball-appear 1s ease-in-out forwards;
}

.lucky__numbers .lotto-ball:nth-child(1) {
  animation-delay: 1s;
}

.lucky__numbers .lotto-ball:nth-child(2) {
  animation-delay: 2.5s;
}

.lucky__numbers .lotto-ball:nth-child(3) {
  animation-delay: 4s;
}

.lucky__numbers .lotto-ball:nth-child(4) {
  animation-delay: 5.5s;
}

.lucky__numbers .lotto-ball:nth-child(5) {
  animation-delay: 7s;
}

@keyframes lotto-ball-appear {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
